@import "../../scss/mixin.scss";
@import "../../scss/variables.scss";

.state-title {
  margin-left: 200px;
  margin-top: 20px;

  .state {
    @include stateTable;
  }
  .confirmed,
  .active,
  .recovered,
  .deceased {
    @include StateCountTable;
    background-color: $bgColor;
  }
}

.state-count {
  margin-left: 200px;
  margin-top: 2px;
  .state {
    @include stateTable;
  }
  .confirmed,
  .active,
  .recovered,
  .deceased {
    @include StateCountTable;
    opacity: 80%;

  }
}
:hover ~ .confirmed {
  background-color: $bgColor;
}
:hover ~ .active {
  background-color: $bgColor;
}
:hover ~ .recovered {
  background-color: $bgColor;
}
:hover ~ .deceased {
  background-color: $bgColor;
}
