<div class="mat" fxLayout="row" fxLayoutAlign="start center">
  <mat-card class="mat-confirmed" :active>
    <mat-card-header fxLayout="row" fxLayoutAlign="center center">
      <mat-card-subtitle class="confirmed">Confirmed</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content></mat-card-content>
  </mat-card>
  <mat-card class="mat-active">
    <mat-card-header fxLayout="row" fxLayoutAlign="center center">
      <mat-card-subtitle class="active">Active</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content> </mat-card-content>
  </mat-card>
  <mat-card class="mat-recovered">
    <mat-card-header fxLayout="row" fxLayoutAlign="center center">
      <mat-card-subtitle class="recovered">Recovered</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content> </mat-card-content>
  </mat-card>
  <mat-card class="mat-deceased">
    <mat-card-header fxLayout="column" fxLayoutAlign="center center">
      <mat-card-subtitle class="deceased">Deceased</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content> </mat-card-content>
  </mat-card>
</div>
